<div class="invoices-main-container">
  <div class="header-row">
    <h3 class="heading">Uploaded Invoice Images</h3>
    <div class="searchbar">
      <ngce-text-input [suffix]="searchIcon" [inputSize]="'medium'" [placeholder]="'Search for invoice'">
      </ngce-text-input>
    </div>
  </div>


  <div class="invoices-container">
    <!-- <ngce-button (click)="onInvoiceClick('291', 's')">Demo</ngce-button> -->
    <div class="invoice-card" *ngFor="let image of apiResponse; let i = index"
      (click)="onInvoiceClick(image.invoice.invoice_number,  image.image_binary_data)">
      <img [src]="image.image_binary_data" class="image" />
      <p>{{ image.supplier.supplier_name }}</p>
    </div>
  </div>
</div>

<ng-template #searchIcon>
  <ngce-icon class="ngce-search-1"></ngce-icon>
</ng-template>