.main-container {
  position: relative;
}

// Toggle Button Base Styles
.toggle-base {
  position: absolute;
  top: 50%;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0 6px 6px 0;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.toggle-button {
  @extend .toggle-base;
  right: 39%;
  transform: translateY(-10%);
}
.hide-image-btn {
  @extend .toggle-base;
  right: 0%;
  transform: translateY(10%);
}

.invoice-main-container {
  display: flex;
  height: calc(100% - 2rem);
  background-color: #f1f5f933;
}

.image-panel {
  width: 50%;
  text-align: center;
  background-color: #f1f5f933;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow-y: auto;
  height: 90vh;

  &.collapsed {
    width: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }

  .image-header {
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      color: #2c3e50;
      margin-bottom: 0.3rem;
    }
    .truncate-text {
      font-size: 0.85rem;
      color: #6b7280;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .image-header-container {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .image-controls {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin: 1rem 0;
  }

  .image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img.zoomable {
      max-width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;
    }
  }
}

.content-panel {
  width: 60%;
  background-color: #ffffff;
  transition: all 0.3s ease;
  height: 90vh;
  border-right: 1px solid #e5e7eb;
  min-width: 60%; // Prevent shrinking when empty
  max-width: 60%; // Prevent growing
  flex-shrink: 0;

  &.expanded {
    width: 100%;
  }
}

// Responsive styles
@media (max-width: 1024px) {
  .invoice-main-container {
    flex-direction: column;
    height: auto;
  }
  .image-panel {
    width: 100%;
    height: 50vh;
    padding: 0.5rem;
  }
  .image-panel.collapsed {
    height: 0;
  }
  .content-panel {
    width: 100% !important;
    height: auto;
    border-right: none;
  }
  .toggle-button {
    right: 10%;
    top: auto;
    bottom: 10px;
    transform: translateY(0);
    border-radius: 6px 6px 0 0;
  }
  .hide-image-btn {
    right: 0;
    top: auto;
    bottom: 10px;
    transform: translateY(0);
    border-radius: 6px 6px 0 0;
  }
}

@media (max-width: 600px) {
  .toggle-button {
    right: 5%;
    padding: 0.3rem 0.4rem;
  }
  .hide-image-btn {
    right: 0;
    padding: 0.3rem 0.4rem;
  }
  .image-panel {
    height: 40vh;
  }
}
