<div class="main-container">
    <!-- Image Toggle Button -->
    <div [ngClass]="showImagePanel? 'toggle-button': 'hide-image-btn'" (click)="toggleImagePanel()">
        @if(showImagePanel){
        <ngce-icon *ngIf="showImagePanel" name="right-4" size="20px" color="#0077b6"></ngce-icon>
        }@else {
        <ngce-icon *ngIf="!showImagePanel" name="left-4" size="20px" color="#0077b6"></ngce-icon>
        }
    </div>


    <div class="invoice-main-container">
        <!-- CONTENT SIDE CONTENT -->
        <div class="content-panel" [class.expanded]="!showImagePanel">
            @switch (option()) {
            @case ("Scroll View") {
            <IOP-invoice-info-form [invoiceData]="invoiceData()" [isExpansionNeeded]="false"></IOP-invoice-info-form>
            }
            @case ("Tab View") {
            <IOP-invoice-tab-form [invoiceData]="invoiceData()"></IOP-invoice-tab-form>
            }@case('Accordian View'){
            <IOP-invoice-info-form [invoiceData]="invoiceData()" [isExpansionNeeded]="true"></IOP-invoice-info-form>
            }
            }
        </div>


        <!-- IMAGE DRAWER PANEL -->
        <div class="image-panel" [class.collapsed]="!showImagePanel">

            <div class="image-header-container">
                <div class="image-header">
                    <h3>Invoice Preview</h3>
                    <p class="truncate-text">{{ invoiceData().invoice.invoice_number }} - {{
                        invoiceData().supplier.supplier_name }}
                    </p>
                </div>


                <div class="image-controls">
                    <ngce-icon name="zoom-in" (click)="zoomIn()" color="#0077b6" size="19px"></ngce-icon>
                    <ngce-icon name="zoom-out" (click)="zoomOut()" color="#0077b6" size="19px"></ngce-icon>
                    <ngce-button (handleClick)="resetZoom()">Reset</ngce-button>
                </div>
            </div>




            <div class="image-box" (mousedown)="startPan($event)" (mousemove)="onPan($event)" (mouseleave)="endPan()"
                (mouseup)="endPan()" (touchstart)="startPan($event)" (touchmove)="onPan($event)" (touchend)="endPan()">
                <img #zoomableImage class="zoomable" [class.zoomed-in]="scale > 1"
                    src="assets/images/images/1 Zeal apparel Invoice_page_1.jpeg" alt="Invoice Image" />
            </div>

        </div>
    </div>
</div>