.main-container {
  position: relative;
}

.toggle-button {
  position: absolute;
  // left: 0;
  right: 39%;
  top: 50%;
  transform: translateY(-10%);
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 0 6px 6px 0;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.hide-image-btn {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(10%);
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 0 6px 6px 0;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.invoice-main-container {
  display: flex;
  height: calc(100% - 2rem);
  // gap: 1rem;
  background-color: #f1f5f933;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.image-panel {
  width: 50%;
  // background-color: #ffffff;
  background-color: #f1f5f933;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow-y: auto;
  height: 90vh;

  &.collapsed {
    width: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }

  .image-header {
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      color: #2c3e50;
      margin-bottom: 0.3rem;
    }

    .truncate-text {
      font-size: 0.85rem;
      color: #6b7280;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .image-controls {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin: 1rem 0;
  }

  .image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img.zoomable {
      max-width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;
    }
  }
}

.content-panel {
  width: 60%;
  background-color: #ffffff;
  // border-radius: 8px;
  transition: all 0.3s ease;
  height: 90vh;
  border-right: 1px solid #e5e7eb;

  &.expanded {
    width: 100%;
  }

  @media (max-width: 1024px) {
    width: 100% !important;
  }

  .form-card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: transparent;
  }

  .invoice-section {
    border-radius: 6px;
    padding: 1rem 1.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
    border: 1px solid #e5e7eb;
  }

  .tab-nav {
    position: sticky;
    top: 0;
    background: white;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #ccc;
    margin: 0 2rem;
  }
  .tab {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  .tab:hover {
    background: #ddd;
  }
  .section {
    height: 100vh;
    padding: 2rem;
    border-bottom: 1px solid #eee;
  }

  a {
    color: grey;
    text-decoration: none;
    padding: 0 0.4rem;
  }
}
