<div class="main-container">

    <h3 class="heading">Upload Invoice</h3>
    <p>Upload your invoice files for processing and storage</p>
    <div class="upload-container">
        <ngce-file-upload [dragDropEnabled]="true" [fileCustomStyles]="customStyles"
            [selectedFilesCustomStyles]="selectedFileCustomStyles"
            (valueChange)="OnFileSelect($event)"></ngce-file-upload>
    </div>

    <ngce-button [customStyles]="{backgroundColor:'#1a237e'}" (handleClick)="onUpload()"><ngce-icon
            class="ngce-upload-cloud"></ngce-icon>
        Upload Invoice</ngce-button>

</div>