<ngce-tab-group>
    <ngce-tab>
        <ngce-tab-header>
            <div [class.tab-icon]="true">
                <ngce-icon name="doc-text" size="15px"></ngce-icon>
                Invoice info
            </div>    
        </ngce-tab-header>
    </ngce-tab>
    <ngce-tab>
        <ngce-tab-header>
            <div [class.tab-icon]="true">
                <ngce-icon name="users-1" size="15px"></ngce-icon>
                Parties
            </div>
        </ngce-tab-header>
    </ngce-tab>
    <ngce-tab>
        <ngce-tab-header>
            <div >
                <ngce-icon name="box-1" size="15px"></ngce-icon>
                Items
            </div>
        </ngce-tab-header>
    </ngce-tab>
    <ngce-tab>
        <ngce-tab-header>
            <div >
                <ngce-icon name="calculator" size="15px"></ngce-icon>
                Totals
            </div>
        </ngce-tab-header>
    </ngce-tab>
</ngce-tab-group>