<header class="header">
    <div class="header-content">
        <div class="logo">
            <span class="clarium" [routerLink]="['']">
                NEXTRIQ

            </span>
        </div>
        <nav class="nav">
            <ngce-select [dataSource]="layoutOptions" (valueChange)="layoutOptionChanged($event)"
                [(ngModel)]="layoutOptions[0]"></ngce-select>
            <a [routerLink]="['invoices']">View All Invoices</a>
            <ngce-button [customStyles]="{backgroundColor:'#0077b6'}" (handleClick)="onUploadClick()">Upload
                Invoice</ngce-button>
        </nav>
    </div>
</header>