<header class="header">
    <div class="header-content">
        <div class="logo">
            <span class="clarium">
                Tintellix
                <!-- <img [routerLink]="['']" src="../assets/Tintexlix-logo.svg" alt="Tintexlix-header-logo"
                    style="max-width: 13rem;height:auto;"> -->
            </span>
            <!-- <span class="engine">Tintellix</span> -->
        </div>
        <nav class="nav">
            <a [routerLink]="['invoices']">View All Invoices</a>
            <ngce-button [customStyles]="{backgroundColor:'#1a237e'}" (handleClick)="onUploadClick()">Upload
                Invoice</ngce-button>
        </nav>
    </div>
</header>