<nav>
    <a *ngFor="let section of sectionsConfig" [routerLink]="[]" [fragment]="section.id">
        {{ section.navLabel || section.title }}
    </a>
    <a [routerLink]="[]" fragment="billing-section">Billing</a>
    <a [routerLink]="[]" fragment="product-details-section">Products</a>
</nav>

<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

    <ng-container *ngFor="let section of sectionsConfig">
        <section [id]="section.id" [formGroupName]="section.groupName" [iOPAutoFragment]="section.id">
            <IOP-invoice-form-group [title]="section.title" [formGroup]="getFormGroup(section.groupName)"
                [fields]="section.fields">
            </IOP-invoice-form-group>
        </section>
    </ng-container>

    <!-- Billing Section (custom) -->

    <section id="billing-section" formGroupName="billing" [iOPAutoFragment]="'billing-section'">
        <div class="card-header">
            <h2>
                <div class="header-icon"><i class="ngce-doc-text"></i></div>
                Billing Details
            </h2>
            <div (click)="onExpansionToggle('billing-section')">
                <ngce-icon class="ngce-down-open-1"></ngce-icon>
            </div>
        </div>
        @if(isBillingSectionExpanded){
        <div>
            <div class="fields-grid" formGroupName="billed_to">
                <label>Customer Name:
                    <input formControlName="customer_name" type="text" />
                </label>
                <label>Address Line 1:
                    <input formControlName="address_line1" type="text" />
                </label>
                <label>Address Line 2:
                    <input formControlName="address_line2" type="text" />
                </label>
                <label>Address Line 3:
                    <input formControlName="address_line3" type="text" />
                </label>
                <label>Address Line 4:
                    <input formControlName="address_line4" type="text" />
                </label>
                <label>State / Country:
                    <input formControlName="state_country" type="text" />
                </label>
                <label>Distance (km):
                    <input formControlName="distance_level_km" type="text" />
                </label>
                <label>Phone:
                    <input formControlName="phone" type="text" />
                </label>
                <label>State Code:
                    <input formControlName="state_code" type="text" />
                </label>
                <label>GSTIN No:
                    <input formControlName="gstin_no_customer" type="text" />
                </label>
            </div>
            <div class="fields-grid">
                <label>Bank Name:
                    <input formControlName="bank_name" type="text" />
                </label>
                <label>Bank Branch:
                    <input formControlName="bank_branch" type="text" />
                </label>
                <label>Account Name:
                    <input formControlName="account_name" type="text" />
                </label>
                <label>Account No:
                    <input formControlName="account_no" type="text" />
                </label>
                <label>IFSC Code:
                    <input formControlName="IFSC_code" type="text" />
                </label>
            </div>
        </div>
        }

    </section>

    <!-- Product Details Section -->
    <section id="product-details-section" formGroupName="product_details" [iOPAutoFragment]="'product-details-section'">
        <div class="card-header">
            <h2>
                <div class="header-icon"><i class="ngce-doc-text"></i></div>
                Product Details
            </h2>
            <div (click)="onExpansionToggle('product-details-section')">
                <ngce-icon class="ngce-down-open-1"></ngce-icon>
            </div>
        </div>
        @if(isProductsSectionExpanded){
        <IOP-product-line [gridData]="invoiceData()"></IOP-product-line>
        }

    </section>

    <div class="submit-button">
        <ngce-button type="submit" [color]="' rgba(137, 43, 226, 0.5);'">Submit</ngce-button>
    </div>
</form>