<nav>
    @for(section of sectionsConfig; track section.id) {
    <a [routerLink]="[]" [fragment]="section.id" queryParamsHandling="preserve">
        {{ section.navLabel || section.title }}
    </a>
    }
    <a [routerLink]="[]" [fragment]="'billing-section'" queryParamsHandling="preserve">Billing</a>
    <a [routerLink]="[]" [fragment]="'product-details-section'" queryParamsHandling="preserve">Product Details</a>
</nav>

<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    @for(section of sectionsConfig; track section.id) {
    <section [id]="section.id" [formGroupName]="section.groupName" [iOPAutoFragment]="section.id">
        <IOP-invoice-form-group [title]="section.title" [formGroup]="getFormGroup(section.groupName)"
            [fields]="section.fields" [isExpansionNeeded]="isExpansionNeeded()!">
        </IOP-invoice-form-group>
    </section>

    }

    <!-- Product Details Section -->
    <section id="product-details-section" formGroupName="product_details" [iOPAutoFragment]="'product-details-section'">
        <IOP-form-group-header [header]="productDetailsHeader" (isExpanded)="onProductDetailsToggle($event)">
        </IOP-form-group-header>

        @if( (option() === 'Accordian View' && isProductsSectionExpanded) ||
        option() !== 'Accordian View' ) {
        <IOP-product-line [gridData]="invoiceData()!"></IOP-product-line>
        }
    </section>

    <div class="submit-button">
        <ngce-button type="reset" color="#4b87c2" variant="outline">Cancel</ngce-button>
        <ngce-button type="submit" color="#4b87c2">Save</ngce-button>
    </div>
</form>